/*This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/

@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=ed5f4263-a96b-43a4-a4fc-379d3719f132");
    @font-face{
        font-family:"gothic";
        src:url("Fonts/bd45538f-4200-4946-b177-02de8337032d.eot?#iefix");
        src:url("Fonts/bd45538f-4200-4946-b177-02de8337032d.eot?#iefix") format("eot"),url("Fonts/700cfd4c-3384-4654-abe1-aa1a6e8058e4.woff2") format("woff2"),url("Fonts/9908cdad-7524-4206-819e-4f345a666324.woff") format("woff"),url("Fonts/b710c26a-f1ae-4fb8-a9fe-570fd829cbf1.ttf") format("truetype");
    }
    @font-face{
        font-family:"gothici";
        src:url("Fonts/38471ac0-7849-4a39-9f97-f89d78f42142.eot?#iefix");
        src:url("Fonts/38471ac0-7849-4a39-9f97-f89d78f42142.eot?#iefix") format("eot"),url("Fonts/79803af7-369c-4a5f-bc95-fb69ee7e77f8.woff2") format("woff2"),url("Fonts/483a662e-88d8-4865-8dd3-1515c67fe28b.woff") format("woff"),url("Fonts/d29e72e3-fcd5-4fa6-8cfb-986a2e33e105.ttf") format("truetype");
    }
    @font-face{
        font-family:"gothicb";
        src:url("Fonts/b247e158-e647-4a3d-9637-944de5124043.eot?#iefix");
        src:url("Fonts/b247e158-e647-4a3d-9637-944de5124043.eot?#iefix") format("eot"),url("Fonts/bc0668e2-e5c8-45ce-954d-3b998c6b6803.woff2") format("woff2"),url("Fonts/2ef5ecda-1772-45e2-843f-a13f5d76ed3a.woff") format("woff"),url("Fonts/33cf10ca-a6bb-4888-a320-d38720c9847b.ttf") format("truetype");
    }
    @font-face{
        font-family:"gothicib";
        src:url("Fonts/620781dc-b993-429f-ace1-722c9b2ba789.eot?#iefix");
        src:url("Fonts/620781dc-b993-429f-ace1-722c9b2ba789.eot?#iefix") format("eot"),url("Fonts/2829a59f-b2f8-4272-a496-b2e4e9bdc87e.woff2") format("woff2"),url("Fonts/3bd69eb9-2110-4d97-989e-99a659576659.woff") format("woff"),url("Fonts/8edaed62-069c-4a3b-87f5-fc14b5cdaec3.ttf") format("truetype");
    }

h1, h2, h3, h4, h5, h6 { /*reset for mobile browsers */
	font-weight: normal;
	text-shadow: 0 0 0;
}

body{
    margin:0;
    padding:0;
	line-height: 1.5em;
	font-family: "gothic";
}

b{
	font-size: 100%;
	font-family: "gothicb";
}
i{
    font-size: 100%;
	font-family: "gothici";
}

b i {
    font-family: "gothicib";
}
em{
	color: red;
}

h1{
	text-align: center;
	font-family: "gothicb";
}

h2{
	text-align: center;
	font-family: "gothicb";
}

h3{
	text-align: center;
	font-family: "gothicb";
}	

h4{
	font-family: "gothicb"
}

h5{
	margin-top: -15px;
	margin-bottom: -15px;
	font-family: "gothicb";
}

body {
    background-color: #000235;
    margin: 0;
}

.banner {
    width: 100%; /*Force the image to 100% in size.*/
}

.innertube{ /*Controls the insides of the columns (the magins of images, text and other things).*/
    padding: 20px; /*Spacing in the inside of the boxes*/
    background: white; /*background for the content boxes*/
	font-family: "gothic";
}

/* Add a black background color to the top navigation */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* Style the links inside the navigation bar */
.sidebar a {
    display: block;
    color: black;
    padding: 15px;
    text-decoration: none;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    padding: 1px 15px;
}

/* Change the color of links on hover */
.sidebar a:hover {
    background-color: #ddd;
    color: black;
}
/* Active/current link */
.sidebar a.active {
    background-color: #da0000;
    color: white;
}
  
/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Hide the link that should open and close the sidebar on small screens */
.sidebar .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the sidebar (.icon) */
@media screen and (max-width: 600px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    
    .sidebar a:not(:first-child) {display: none;}
    .sidebar a.icon {
        float: right;
        display: block;
        top: 0;
        right: 0;
    }
  
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the sidebar look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .sidebar.responsive {position: relative;}
    .sidebar.responsive a.icon {
      position: absolute;
      right: 2;
      top: -10;
    }
    .sidebar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    div.content {
        margin: 15 0 0 0; 
        padding: 0;
    }
}

